<%= render "shared/header" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
<div class="index-main">
 <div class="hero">
<%= image_tag "fuji.jpg", class: "img-fluid", alt: "Responsive image" %>
 <div class="hero-items">
  <div class="hero-text">
   <div class="hero-text__main">数秘術</div>
    <div class="hero-text__sub">個人の生年月日を計算式に当てはめて特定の数字を導き出し<br>
    そこから性格・才能・運命・運勢・使命・人生のテーマなどを知ることができます</div>
    あ
    </div>
  </div>
 </div>
</div>
<%#
  <div class="form-group">
    <div class='form-text-wrap'>
     <div class='input-name-wrap'>
      <%= f.text_area :kana_family_name, class:"input-name", id:"last-name-kana", placeholder:"例) ヤマダ" %>




</div>







