<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "boken_.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 5</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>努力をしなくても人に好かれます。<br>
      <div class="result-essence-main1">
        アイドルなど表舞台に立つ人気者が多く持つ数字で、同性にも異性にも人気があります。<br>
        五感を使って表現することが得意で、それを通して成長していきます。<br>
        経験欲にあふれ、好奇心に突き動かされて生きています。<br>
        運動、音楽、美術など、感性を活かした才能がある人がとても多いのも特徴です。<br>
        常に変化をしていないと満足しないので、飽きっぽい面もあるかもしれませんが<br>
        変化や順応性に強い、真のチャレンジャーともいえます。<br>
        また、耳が良いので言語能力も高く海外に縁のある人もいるでしょう。<br></div>
    <div class="result-essence2">
      <br>性格は好奇心旺盛なタイプです。<br>
      <div class="result-essence-main2">
        知らないことに興味を持ち、常に色んなところから情報収集をしています。<br>
        自分の体験したこと、見たものだけが真実と捉えるタイプです。<br>
        ただ変化していきたいと言う気持ちが強いために、じっとしていたり同じことを繰り返す、同じ環境に居続けることが苦手なところがあります。<br>
        フットワークが軽いので社交的な人も多いです。<br>
        会話はディスカッション式をとり、受け取ったものをより良くしたり意訳して返すので<br>
        話が広がりやすいところも社交性に一役買っています。<br></div>
    <div class="result-essence3">
      <br>努力を見せることが苦手です。<br>
      <div class="result-essence-main3">
        常に自分をカッコ良く見せていたいという思いが強く<br>
        周りに努力していたり、泥臭い自分を見せたがらないところがあります。<br>
        隠れて努力できる環境なら良いのですが、そうでない場合へそは曲げるのに努力しない…ということが起こったりします。<br>
        なぜ努力を見せたがらないのかは、何もしていなくてもそつなくできているように演出したいという気持ちがあります。<br></div>
    <div class="result-essence4">
      <br>Number5と相性の良いNumberは1です。<br>
      <div class="result-essence-main4">
        お互い興味のある方向にしか行けないタイプで<br>
        これ！と思った方向に合致するともっと良くするには？と勢いがつき、フットワークも軽いので良いコンビになれます。<br>
        会話はお互い話したいことを話すのでキャッチボールにならないのはあまり気になりません。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>