<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "satori.png", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 9</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>落ち着いていて、説得力があり、鋭い観察眼を持っています。<br>
      <div class="result-essence-main1">
        1〜8を経験した上でたどり着けるのが9といわれているので、どの数字にも変幻自在になれる超越したフレキシビリティを持っています。<br>
        また9は知恵の詰まったこうべを垂れる老人の姿を現した数字ともいわれ、<br>
        この数を持つ人は落ち着いていて、説得力があり、鋭い観察眼を持っています。<br>
        全ての数字を通ってきているからこそ、どの数字の気持ちや思いも理解することができます。<br>
        「十人十色、みんな違ってみんないい」という許容範囲の広い受容の心は、もはや仙人の悟りの領域です。<br>
        みんなの意見を受け入れながらも、最終的な結論に導いたり、まとめたりができる、まるで村長さんのような役割ができます。<br></div>
    <div class="result-essence2">
      <br>性格は飄々としていて独特のユルさとじんわりしたユーモアがあります。<br>
      <div class="result-essence-main2">
        周りや場を俯瞰して見ていて、周りの人の考えていることや感情までなんとなく察してしまう理解力があります。<br>
        全方位から理解するので、他のNumberが「酷い！」と感じるようなことでも<br>
        一旦は「まあ、そうなるよね」とか「そういうこともあるよね」と（モヤモヤするところはあっても）理解を示します。<br>
        理解力があるゆえに相手の反応のやり取りまでイメージでき、<br>
        それがめんどくさいなあ…と思って「そうだね（棒）」という反応をしていることもあります。<br>
        一緒に居る人は基本否定されないため、気持ちが軽くなり話をずっと聞いてもらったりしたがるのですが、<br>
        本人は共感をしているわけでは無いので依存されて困ってしまうこともあります。<br></div>
    <div class="result-essence3">
      <br>責任を敏感に感じ取ります。<br>
      <div class="result-essence-main3">
        "責任"はNumber9にとって足枷や重みとなってしまい、持ち前の柔軟さや360°レベルの理解力が発揮されづらくなります。<br>
        そのため自分が責任を持つ展開かどうかにとても敏感になります。<br>
        高い視点と、先の先の先までわかってしまう力も作用して周りの人が責任と感じないようなことでも責任と捉えます。<br>
        少しでも責任がかかりそうになるとかなりのストレスになるのです。<br>
        頭では動かなくてはとわかっていても、忘れてしまったり動けなかったりすることもあり、無責任だと捉えられてしまうこともあるようです。<br></div>
    <div class="result-essence4">
      <br>Number9と相性の良いNumberは33です。<br>
      <div class="result-essence-main4">
        Number33はは"ありのままが一番"なところが共通しているので気が合う相手です。<br>
        天真爛漫でありながら礼儀正しくあろうとするNumber33はNumber9にとって居心地の良い相手です。<br>
        喜怒哀楽がはっきりしながら、ほとんどのものに「素敵だね！」と言えるNumber33の器はNumber9にとって憧れるところもあります。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>