<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "kyokan.jpg", class: "img-result", alt: "Responsive image" %>
  <div class="result-title2">Number 2</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>共感、サポート、点と点を繋ぐ力があります。<br>
      <div class="result-essence-main1">
        人と人を繋いだり、出会うべきものたちを引き合わせたり、<br>
        どの要素が繋がると最高の化学反応を生み出すかが分かる才能を持っています。<br>
        あなたと一緒にいる人はふと気付くと成長し、成功していることも多いです。<br>
        それもあって、誰かのサポートをすることに喜びを感じます。<br>
        また、絶対的な味方と一緒にいると、心が平穏になるあなたは<br>
        自分ひとりで何かを成し遂げるよりも、超優秀な執事や最高の秘書の資質も備わっています。<br></div>
    <div class="result-essence2">
      <br>性格は控えめで穏やかです。<br>
      <div class="result-essence-main2">
        寄り添い上手で、相手が何を感じているのか、何を言いたいのかを推し量り、相手のことを自分のことのように共感することができます。<br>
        反対の意見だとしても、どちらにも寄り添って話を聞いてくれるため<br>
        板挟みになってしまうこともあります。<br>
        物事を良いように捉えたい、潔白でありたいという清らかさを求めるため<br>
        嫌なものや黒いものを脳内から自動消去して見えないようにしてしまい<br>
        騙されやすい一面があったり、 何でも自分が悪いというように捉えてしまうこともあります。<br></div>
    <div class="result-essence3">
      <br>共感性が強すぎて自分の意見が曖昧になってしまいます。<br>
      <div class="result-essence-main3">
        相手のことを自分のことのように感じられる感受性の強さがありますが、本来それとは別に自分の意見や思うことがあります。<br>
        相手を大切に思うものの、自分の意見があるときに優先する方がわからなくなり、曖昧にしてしまうこともあります。<br>
        周りからは八方美人とかごまかしている、と言われてしまうこともあるでしょう。<br>
        意見が対立してしまった時は、はっきりとこっちが良いと言いたくないし、そんなに簡単に言えない。<br>
        みんな良いものだし仲良くしていて欲しいと悩んでしまうこともあります。<br></div>
    <div class="result-essence4">
      <br>Number2と相性の良いNumberは3です。<br>
      <div class="result-essence-main4">
        Number3は一緒にいると楽しくなる存在。<br>
        美味しいものもお互い好きなので、おでかけなど楽しい時間が過ごせます。<br>
        おしゃべりをしているうちにあっという間にすごい時間がたっていることも。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>