<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "ru-ru.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 4</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>自分の描く成功までの道筋を、逆算することが得意です。<br>
      <div class="result-essence-main1">
        持ち前の努力で、コツコツと知識や経験を積み重ね、自分の土台を固めていき<br>
        それを基に目標や夢へ着実に近づいていくことがでっきます。<br>
        秩序やルールを重んじるタイプで、自分の計画外の急な変更や想像していなかった変化を受け入れがたく感じる場面もあります。<br>
        だからこそ、そういった事態を回避するために、より一層事前に準備を完璧に整えようとします。<br>
        また、物事を「安定」に導くことができる力もあります。<br>
        頭脳明晰で意志がとても強く、現実的に物事を捉えることのできる能力が高いため<br>
        常にあらゆるリスクを想定して、計算や数字にも強い人が多いです。<br></div>
    <div class="result-essence2">
      <br>性格は落ち着いた態度で真面目です。<br>
      <div class="result-essence-main2">
        落ち着いた態度で真面目、しっかりしている良い人です。<br>
        いつも冷静であろうとし、客観的にものを捉え、慎重で細かいところに目を配ります。<br>
        物事を堅実に安全安心に運ぼうとするので、周りからはしっかりして見え、細かいところのフォローを頼まれることも多いです。<br>
        しかし、安心で安全、常に平静である状態を望むため、心が揺さぶられることに敏感で<br>
        イレギュラーや急な予定変更、大きな波があることに弱いです。<br>
        弱い分心が揺さぶられないように対策を練るため、行動がゆっくりになってしまうこともあります。<br></div>
    <div class="result-essence3">
      <br>感情・見えないものを理解するのが苦手です。<br>
      <div class="result-essence-main3">
        現実的に冷静に物事を見るため、見えるものや図れるものを信頼し、それ以外は理解するのが苦手です。<br>
        特に見えにくく揺らぎやすい感情は苦手としていることが多いです。<br>
        自分自身は常に平静であろうと努めているので、物事はルールで判断し、感情を勘定に入れないようにしているためです。<br>
        また感情的な人は理屈が通じないことも多く、自分も揺らぐので遠ざけようとします。<br></div>
    <div class="result-essence4">
      <br>Number4と相性の良いNumberは8です。<br>
      <div class="result-essence-main4">
        行動力があって周りをまとめる影響力も強く結果を出していくNumber8はNumber4にとって憧れの存在<br>
        Number8は大きいところを見て動いていくので足元に穴があることも多く、<br>
        Number4が細かいところの穴を塞いだり動いて土台を支えることができます。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>