<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "cool.jpg", class: "img-result", alt: "Responsive image" %>
  <div class="result-title">Number 7</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>物事を深く追及する職人気質なスペシャリストです。<br>
      <div class="result-essence-main1">
        真理を知りたいという欲が強く、あなたほど本質に近づける人はいないでしょう。<br>
        物理的欲求（お金）や社会的欲求（名誉）よりも、精神世界や哲学を重んじる傾向があります。<br>
        精神世界に入っていくために、あなたがひとりになれる環境、ひとりで考えることのできる時間も必須です。<br>
        どんなに仲がよくても一定の距離は取りたいタイプのため、孤独を愛するクールな人に思われがちですが内には熱い情熱を秘めています。<br>
        ひとつの物事を極める力、物事の真理を解き明かそうとする力、本質を見抜く力があり<br>
        人間関係においても、仕事においても、あなたの秀でた強みです。<br></div>
    <div class="result-essence2">
      <br>性格はどんな状況でも自分の考えを貫きます。<br>
      <div class="result-essence-main2">
        周りに流されず独自のセンスとシニカルな視点を持ち、どんな状況でも自分の考えを貫くタイプです。<br>
        興味のある無しで態度がはっきり分かれます。<br>
        興味無いものは視界に全く入らないので流行りものには疎いタイプです。<br>
        反面、興味のある分野で話の合う人とはマニアックに深く語り合い、何時間でも話せる勢いです。<br>
        興味のあることを調べはじめると、とことん追求や研究をしたくなります。<br>
        みんなが気づかないことにも謎や違和感を見つけ、なんで？と頭の中が不思議でいっぱいになり沢山資料を集めて調べます。<br>
        本人は単なるリサーチのレベルでも分析力が高く、どんな人が何をやっているか、それがどういう理由でできているかなどを積極的に関わらずともよく観察して分析しています。<br></div>
    <div class="result-essence3">
      <br>まわりくどい、合理的でないことが苦手です。<br>
      <div class="result-essence-main3">
        合理的にしようと考えるので、回りくどい言い回しや結論（オチ）が見えないもの、だらだらとした日常会話が苦手です。<br>
        「で、何が言いたいの？」とツッコんでしまったり、離れていつの間にか自分の世界に入ってしまいます。<br>
        また、違和感のあるもの、納得できないことに対しては合理的かどうかが判断できないため、動くことができません。<br>
        そのため、集団生活には不向きであると言えます。<br></div>
    <div class="result-essence4">
      <br>Number7と相性の良いNumberは4です。<br>
      <div class="result-essence-main4">
        Number4はマイペースを大切にするので、つかず離れず、べたべたしない程よい距離感になります。<br>
        冷静に物事を捉えようとするのも話が合いやすいです。<br>
        興味があることに集中してしまい、日常生活や基本的なことが疎かになりがちなNumber7にとって、土台を支えてくれるNumber4はとてもありがたい存在です。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>