<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "futago.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 22</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>11、22、33はマスターナンバーと呼ばれ、1〜9とは少し異なる複合的な性質を含みます。<br>
      <div class="result-essence-main1">
        まずNumber22は2の要素を持つ4の進化系マスターナンバーです。<br>
        マスターナンバーの中でも2と4という偶数を持つ数字のため、11、33に比べて、葛藤や生きづらさを感じることは少ないはずです。<br>
        2も4も女性性のため、前に出るタイプではありませんが、地に足がついていて、どっしりと構え、マイペースに積み上げていくタイプです。<br>
        心が休まるキーワードは、圧倒的な安心感、先の見通しがつく状況、そして穏やかな生活です。<br>
        Number2の特徴である、感受性の高さ・空気を読む力と、Number4の強みである具体化していく力を併せ持っています。<br>
        ぜひNumber2とNumber4の説明も併せて読んでみください。<br>
        つまり世の中のニーズをくみ取り、実際に形にしていくことができる力があるのです。<br></div>
    <div class="result-essence2">
      <br>性格は厳しく規律と平等を重んじるきっちりした一面と強い共感性で優しい一面を持ちます。<br>
      <div class="result-essence-main2">
        穏やかで物腰柔らかく、なんとなく威厳ある雰囲気を感じさせます。<br>
        直感で物事の要領を掴み、周りの表情や状況も冷静にキャッチしながら素早く動くことができるので<br>
        周りの人より仕事ができたり、細かいことに気がつくことができます。<br>
        それ故にできない人のことが理解しづらい一面もあります。<br>
        自分に厳しい分、場の穏やかさを乱す人にもかなり厳しい言い方をしてしまい、自己嫌悪に陥ることもあります。<br>
        同時にたくさんの人の状況や気持ちを考えてみんなが平等に笑顔になれるために何ができるか考えますが、<br>
        周りからは夢物語、天然だと思われがちです。<br></div>
    <div class="result-essence3">
      <br>これで間違いない！と思うと変更できないところがあります。<br>
      <div class="result-essence-main3">
        普段はマイペースであまり積極的に動くほうではないですが<br>
        ひとつ決めると「決めたから！」と人の意見を聞かずに進めてしまうところがあります。<br>
        広い視点でたくさんの人が平等になることを慎重に考えた結論なのですが<br>
        ワンマンだと捉えられたりはっきり言うタイプと衝突してしまうこともあります。<br></div>
    <div class="result-essence4">
      <br>Number22と相性の良いNumberは8です。<br>
      <div class="result-essence-main4">
        Number22の持っている大きな理想が達成できると見えたとき、適材適所を見極め采配してくれたり<br>
        周りに想いを拡げてくれたりと現実化していってくれる力強いメンバーになってくれます。<br>
        ついつい理想論に傾きがちなので、現実化していくのに必要なお金周りのことにも気を配ってくれるのも頼れるところです。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>