<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "tomi.jpg", class: "img-result", alt: "Responsive image" %>
  <div class="result-title2">Number 8</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>企業の社長、経営者に適した強みを持っています。<br>
      <div class="result-essence-main1">
        目標を明確に立て、それに向かって並外れた努力をすることができ必然的にリーダー的存在になっていきます。<br>
        野心家でもあり、プライドが高く、、一番嫌いな言葉は「負け試合」です。<br>
        名プロデューサーでもあり、必要なものや人材を見極め、適切に配置をして、ベストなチームを作ることができます。<br>
        また、富や権力、人脈に恵まれやすく、労せずそういった環境を手にすることが多いです。<br>
        入ってきたものを感謝と謙虚な気持ちをもって、循環させることを心がければ<br>
        より多くの恵みがあなたの味方となってくれることでしょう。<br></div>
    <div class="result-essence2">
      <br>性格は向上心が強いタイプです。<br>
      <div class="result-essence-main2">
        限界を超えて大きな目標を達成しようとする向上心の強いタイプです。<br>
        ただ確実に目標を達成できると感じられないと動けなかったり周りの評価を気にしている臆病な一面もあります。<br>
        またとっても仲間想いで人情溢れるタイプで<br>
        仲間、身内と判断した人や家族に対してはかなり面倒見が良く、持っているものを惜しげもなくあげようとしたりアドバイスをします。<br>
        自分も仲間や家族ももっと幸せにしたい！という思いから<br>
        大きな目標を達成しようとしてたくさん力を欲し、消費します。<br>
        周りの人をたくさん巻き込んで具現化したり実現しようとするので、影のリーダーやボスとして慕われることもあります。<br></div>
    <div class="result-essence3">
      <br>無くなること、減ることが怖いと感じます。<br>
      <div class="result-essence-main3">
        スキルだったり手段や資格だったり、人脈や友達の多さだったり、モノやお金、食べ物などをたくさん持っていようとします。<br>
        人によって重視するものに違いはありますが、誰かを助けたり、"力"になり得るものです。<br>
        "力"はあればあるほど自信になりパワーの源になります。<br>
        逆に言えば無くすことや手放すこと、減ることをとても苦手に感じるのです。<br></div>
    <div class="result-essence4">
      <br>Number8と相性の良いNumberは4です。<br>
      <div class="result-essence-main4">
        Number4は曖昧なところを見つけて具体化したり、計画の穴を見つけて埋めようとしたり、細かいところに気がついてくれる頼もしい存在です。<br>
        Number4のできる仕事はNumber8から見れば地味に見えるかもしれませんが、物事を捉えようとするのも話が合いやすいです。<br>
        日々がつつがなくスムーズに流れるために大切な、土台やルーティーンとなる仕事を淡々とやることができる貴重な戦力なのです。<br>
        最初はペースが遅く見え、イライラすることもあるかもしれませんが、要領を掴んでこなれてくると対処するスピードも早くなってくるので長い目で見れば見守りがいがあると言えます。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>