<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "tenshi.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 11</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>11、22、33はマスターナンバーと呼ばれ、1〜9とは少し異なる複合的な性質を含みます。<br>
      <div class="result-essence-main1">
        まずNumber11は1の要素を持つ2の進化系マスターナンバーです。<br>
        あなたの直感（違和感も含めた感覚）は、全て正しいため、感じたことを全て大切にしてあげてください。<br>
        宇宙からのメッセージを受信し、地球上の人々にそのメッセージを伝える使命を持っているのです。<br>
        実は言語化が得意ではない人も多いNumber11は、「なんとなく」と言ってしまいがち。<br>
        でも、そのなんとなくは、実は信憑性がとても高いことが多いのです。<br>
        Number1の持つ積極性や行動力（男性性）と、Number2の持つ謙虚さや気配り（女性性）の2つが自分の中に同居していて、大胆と繊細の間を行き来しています。<br>
        やる気に満ち溢れ前に前にと進めるときと、急に自分自身にブレーキをかけるときがあるのも特徴です。<br>
        ぜひNumber1とNumber2の説明も併せて読んでみてください。<br></div>
    <div class="result-essence2">
      <br>性格は柔らかい雰囲気があります。<br>
      <div class="result-essence-main2">
        ふわーっと柔らかい雰囲気で、言葉使いも柔らかい。<br>
        だけど、本人はもっとハッキリさせなければ！しっかりしなければ！と思っていたりします。<br>
        潔白で、曲がった事をしたり、自分だけ良ければ良い、という事が嫌い。<br>
        けれども、周りの人のふとした陰（闇？）に惹かれることもあります。<br>
        不思議と惹きつけられる雰囲気を持っていて人に囲まれていることが多くカリスマ性と表現されることもあります。<br>
        だけど、人に対して好き嫌いはかなり激しめです。<br>
        プライベートでは1人でそっとしておいてほしいと思うこともあります。<br></div>
    <div class="result-essence3">
      <br>直感が優れている分、論理的なところが弱いところがあります。<br>
      <div class="result-essence-main3">
        説明して！と言われても説明できなかったり、もう一度言って！という要求も難しかったりします。<br>
        自分の言動は覚えていない事が多いです。<br>
        また、キャッチしたニュアンスで判断するため、サプライズや相手の思いやりあっての隠しごとも嘘ということはわかるので、<br>
        コンディションによってはネガティブに捉え過ぎてしまうこともあります。<br></div>
    <div class="result-essence4">
      <br>Number11と相性の良いNumberは7です。<br>
      <div class="result-essence-main4">
        ピンと張り詰めた空気が最初は近寄りがたいかもしれませんが、表裏がなく常に純度高く生きようとしていて<br>
        深い情報や視点をくれる自分を高めてくれる相手です。<br>
        またNumber11も7にとって欲しい気づきを（無意識に）くれるので対等な関係でいられます。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>