<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "iruka.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title">Number 33</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>11、22、33はマスターナンバーと呼ばれ、1〜9とは少し異なる複合的な性質を含みます。<br>
      <div class="result-essence-main1">
        まずNumber33は3の要素を持つ6の進化系マスターナンバーです。<br>
        この数字が持つ本質は、破天荒と常識、奇想天外、世界規模……なのですが、ひと言で表現するなら宇宙人（笑）。<br>
        数字の中で、最も高次元にいる33は、宇宙に最も近い存在で、地球の空気を読むことが苦手な人もいるかもしれません。<br>
        3の子ども特有の無邪気さと6の常識的かつ愛情の強い母親という、全く異なる性質が同居しています。<br>
        ぜひNumber3とNumber6の説明も併せて読んでみください。<br>
        内包する両極端な性質のバランスを取るために、6の常識的な部分を頼りに生きている方がこの日本では多いかもしれません。<br>
        しかし3と6の同居がうまくいくと、より宇宙があなたに味方してくれるようになります。<br>
        その型にはまらない自由な発想から出たさまざまな天才的なアイデアを、世界・宇宙のために還元していくことができる人です。<br></div>
    <div class="result-essence2">
      <br>性格は礼儀正しいけど天真爛漫でノリも良く、子供っぽい無邪気なところもあればお母さんのようなしっかり者なところもあります。<br>
      <div class="result-essence-main2">
        根は真面目で、努めて常識的に振る舞おうとします。<br>
        色々なことや周りの人たちのことを考えていますがぶっ飛んだ独特のセンスや極端になってしまう感覚の持ち主で<br>
        本人は周りのためにしているつもりのことでも周りに理解してもらえない…と言うことが起こったりもします。<br>
        良かれと思ったことがなぜか相手の気にしているところを刺激することになったり、超特大の地雷を踏み抜いてしまうことも…。(涙)<br>
        そのため、頑張って無理して普通になろうとしてはとてもしんどい思いをしている方や、開き直って徹底的に普通を排除し変人ルートを歩こうとする人もいます。<br>
        周りの人に対してはありのままを受け入れ、どんな自分でも良いね！素敵だね！と手放しで称賛してくれます。<br>
        1桁の数字持ちの人たちが「それはどうなの…？」と思うようなことでも「そんな人だしね」で受け入れてしまう心の広さを持っています。<br></div>
    <div class="result-essence3">
      <br>言動がコロコロ変わってしまいます。<br>
      <div class="result-essence-main3">
        Yesと言っていたのに、急にNoになったり、やらない！と思っていたのに次の瞬間やろう！って思ったり、<br>
        相反する内面が瞬間瞬間でコロコロ入れ替わり、突然真逆の感覚になることも。<br>
        嘘をついているわけはなくどちらも本当なのでギャップが大きすぎて、自分でもどうして良いのかわかりません。<br>
        また常に500％の出力で動き結果として中途半端になってしまったり、うまくできないことはたくさんあります。<br></div>
    <div class="result-essence4">
      <br>Number33と相性の良いNumberは9です。<br>
      <div class="result-essence-main4">
        Number33のカオスな頭の中もなんとなく理解してくれ<br>
        コロコロ変わってしまうことにも柔軟に対応でき、ベタベタすることもなく、一緒にいるだけで気持ちを軽くしてくれるNumber9は癒しの存在です。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>