<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "smile.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 3</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>いかなる状況にも楽しみを見出すことができます。<br>
      <div class="result-essence-main1">
        常に遊び心を忘れず、どんな状況でも楽しみを見出すことができる強さを持っています。<br>
        好奇心は尽きることなく、面白いことを発見していくことが出来るでしょう。<br>
        永遠に3歳児のような心を持ち、愛されるキャラクターとして人々に受け入れられます。<br>
        常識にとらわれることがないので、独創的なクリエイティブ力を発揮します。<br>
        また、自分の喜びを見出す天才なので<br>
        それにつられた周りにも光をもたらし、笑顔を増やしていくことのできる真のエンターテイナーです。<br></div>
    <div class="result-essence2">
      <br>性格は朗らかで天真爛漫です。<br>
      <div class="result-essence-main2">
        いつもニコニコしていて、一緒に居て楽しい気分になります。<br>
        場のムードメーカー的存在のため何もしていなくても可愛がられます。<br>
        周りからは何も考えてないように見られてしまう事も多いですが、実は周りの顔色を伺っています。<br>
        心の中ではいつも怒られないかビクビクしているというストレスに敏感な一面もあります。<br>
        ちゃんとしよう…と思っても今この瞬間が楽しい方に流れていってしまうこともありますが<br>
        天真爛漫で可愛がられることが多いのであまり問題になりません。<br></div>
    <div class="result-essence3">
      <br>楽しい事以外はスルーしてしまう。<br>
      <div class="result-essence-main3">
        無意識に今この瞬間の楽しさを常に求めてしまうため、ストレスを感じる事は忘れっぽくなったり<br>
        怒られないか気にしすぎてしまって余計失敗してしまうこともあります。<br>
        また、うまくいっているのになぜか全てをなかった事にして<br>
        全てどうでもいいや！と破壊をしてしまうこともあります。<br></div>
    <div class="result-essence4">
      <br>Number3と相性の良いNumberは9です。<br>
      <div class="result-essence-main4">
        Number9はどんな事でも「いいんじゃない？」と受容してくれたり、<br>
        怒ったりする時もソフトで威圧感が少ないのでとても仲良くしやすい相手です。<br>
        お互いに忘れっぽいところがあるので約束を忘れたりしても、笑いあえる関係。<br>
        お互い一緒に居て楽なところがあります。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>