<%= render "shared/header" %>

<div class="result-main">
<%= image_tag "doll.jpg", class: "img-result3", alt: "Responsive image" %>
  <div class="result-title3">Number 6</div>
</div>
 <!-- 占いコンテンツ全体 -->
<div class="result-contents">
   <!-- 結果 -->
    <div class="result-essence1">
      <br>あなたの強みは絶対的な優しさと美的センスです。<br>
      <div class="result-essence-main1">
        6は母の愛の数字ともいわれていて、誰かの面倒を見たり、または助けたりできる、とても愛情深い人です。<br>
        美容、ファッション、その他、美しさにまつわることは、天職といえます。<br>
        愛したいし、愛されたいという願望を持ち<br>
        周囲の人に愛を与えますが、周りからも同等の愛、または感謝を求めます。<br>
        人のお世話をするのが好きなので、友人や家族、恋人にも頼られ、相談役やアドバイザー役にもなりがちです。<br>
        周囲との調和も大切にできるから、人やチームのバランスを取ることに長けています。<br></div>
    <div class="result-essence2">
      <br>性格は世話好きです。<br>
      <div class="result-essence-main2">
        なぜか周りの人が困っていることが目に入ってしまい、ついついお世話してしまいます。<br>
        別にしたくてしてるわけではなく、いろいろと心配になり手を出してしまいます。<br>
        ある言動がどんな反応をされるかということに気を配り、想像して動ける人です。<br>
        「みんながうまく行くにはどうしたらいいだろう」をいつも考えています。<br>
        基本は人に喜んでもらうことが当たり前と考え、人に迷惑をかけないようにする。<br>
        自分でできることは自分で頑張るのが当たり前！という頑張りやさんです。<br></div>
    <div class="result-essence3">
      <br>本音を言うことが苦手です。<br>
      <div class="result-essence-main3">
        優しく人に気遣いができるのでなかなかそう見られることはないのですがオープンにして何もかも話すというのが苦手です。<br>
        人をよく見ていることや警戒心が強く、人の顔色を常に伺いがち。<br>
        気を使いすぎて言いたいことを言えなかったり、お願いしたいこともできなかったりします。<br>
        また美しくないものや苦しいものはひとりで心のうちにしまって見せないようにひとりでなんとかしようとしてしまいます。<br>
        そのため、ひとりで抱え込みがちですし、かと言って「本音を話してね」「なんでも話してね」と言われてもなかなかできません。<br></div>
    <div class="result-essence4">
      <br>Number6と相性の良いNumberは2です。<br>
      <div class="result-essence-main4">
        Number2は穏やかで周りのことを気遣う事ができ、人のサポートに回る事が多いので<br>
        サポーター仲間として心強く、話も合います。Number2は聞き上手なので話もしやすいです。<br></div>
        <br>
 <ul class="nav nav-underline">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Back</a></li>
  </ul>
  </div>
</div>